<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mpaas.aar.demo.custom" >
    <application>
        <activity android:name=".MyScanActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
    </application>
</manifest>
